---
import Base from '../layouts/Base.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import ChainsStrip from '../components/ChainsStrip.astro'
---
<Base>
  <Nav />
  <main>
    <Hero />
    <ChainsStrip />
  </main>
</Base>
