---
import Base from '../layouts/Base.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import ChainsStrip from '../components/ChainsStrip.astro'
import CodeSection from '../components/CodeSection.astro'
import FeatureGrid from '../components/FeatureGrid.astro'
---
<Base>
  <Nav />
  <main>
    <Hero />
    <ChainsStrip />
    <CodeSection />
    <FeatureGrid />
  </main>
</Base>
