---
import Base from '../layouts/Base.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import ChainsStrip from '../components/ChainsStrip.astro'
import ProtocolsSection from '../components/ProtocolsSection.astro'
import CodeSection from '../components/CodeSection.astro'
import FeatureGrid from '../components/FeatureGrid.astro'
import SDKSection from '../components/SDKSection.astro'
import BuiltOnStrip from '../components/BuiltOnStrip.astro'
import FinalCTA from '../components/FinalCTA.astro'
import Footer from '../components/Footer.astro'
---
<Base>
  <Nav />
  <main>
    <Hero />
    <ChainsStrip />
    <ProtocolsSection />
    <CodeSection />
    <FeatureGrid />
    <SDKSection />
    <BuiltOnStrip />
    <FinalCTA />
  </main>
  <Footer />
</Base>
